workflows/Dashboard-2.0.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YKWzyvGF8jUIxKwI",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-2.0-KVS",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/YKWzyvGF8jUIxKwI"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        512,
        432
      ],
      "id": "9531df5e-97f2-4f9d-b39b-863b006a3b32",
      "name": "Get KVS"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "key,value",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        432
      ],
      "id": "aa6155fd-cdb1-455c-9229-7040d7a5cf23",
      "name": "Aggregate KVS"
    },
    {
      "parameters": {
        "html": "<script>\n    // Data injected by n8n\n    window.kvsDataFromN8n = {{ JSON.stringify($('Aggregate KVS').item.json.data) }};\n    window.zendeskDataFromN8n = {{ JSON.stringify($('Aggregate Customer Data').item.json.data) }};\n</script>\n\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>VerpakkingenXL Lead Import Dashboard</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            background: #f5f7fa;\n            padding: 20px;\n            color: #333;\n        }\n\n        .container {\n            max-width: 1600px;\n            margin: 0 auto;\n        }\n\n        .header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-top: 10px;\n            margin-bottom: 30px;\n        }\n\n        h1 {\n            font-size: 36px;\n            color: #2c3e50;\n            font-weight: 700;\n        }\n\n        /* Tabs */\n        .tabs-container {\n            background: white;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n            margin-bottom: 30px;\n            overflow: hidden;\n        }\n\n        .tabs-header {\n            display: flex;\n            border-bottom: 2px solid #e3f2fd;\n            background: #f8f9fa;\n        }\n\n        .tab-btn {\n            flex: 1;\n            padding: 15px 20px;\n            background: none;\n            border: none;\n            font-size: 16px;\n            font-weight: 600;\n            color: #666;\n            cursor: pointer;\n            transition: all 0.3s;\n            border-bottom: 3px solid transparent;\n        }\n\n        .tab-btn:hover {\n            background: #e3f2fd;\n            color: #2c3e50;\n        }\n\n        .tab-btn.active {\n            color: #3498db;\n            border-bottom-color: #3498db;\n            background: white;\n        }\n\n        .tab-content {\n            display: none;\n            padding: 25px;\n        }\n\n        .tab-content.active {\n            display: block;\n        }\n\n        .refresh-btn {\n            background: #3498db;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            transition: background 0.3s;\n        }\n\n        .refresh-btn:hover {\n            background: #2980b9;\n        }\n\n        .refresh-btn::before {\n            content: \"⟳\";\n            font-size: 18px;\n        }\n\n        .data-section {\n            background: white;\n            padding: 25px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n\n        .data-header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 20px;\n        }\n\n        .data-header h2 {\n            font-size: 20px;\n            color: #2c3e50;\n        }\n\n        .import-btn {\n            display: inline-block;\n            padding: 10px 20px;\n            background: #3498db;\n            color: white;\n            border: none;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s;\n        }\n\n        .import-btn:hover {\n            background: #2980b9;\n            transform: translateY(-1px);\n        }\n\n        .import-btn.excel-btn {\n            background: #27ae60;\n        }\n\n        .import-btn.excel-btn:hover {\n            background: #229954;\n        }\n\n        input[type=\"file\"] {\n            display: none;\n        }\n\n        .loading {\n            display: none;\n            margin: 20px 0;\n            text-align: center;\n            color: #7f8c8d;\n        }\n\n        .loading.active {\n            display: block;\n        }\n\n        .spinner {\n            display: inline-block;\n            width: 20px;\n            height: 20px;\n            border: 3px solid #ecf0f1;\n            border-top-color: #5b9bd5;\n            border-radius: 50%;\n            animation: spin 0.8s linear infinite;\n        }\n\n        @keyframes spin {\n            to {\n                transform: rotate(360deg);\n            }\n        }\n\n        .refresh-icon {\n            display: inline-block;\n            width: 16px;\n            height: 16px;\n        }\n\n        .results-count {\n            color: #666;\n            font-size: 14px;\n            margin-bottom: 15px;\n        }\n\n        /* Filters */\n        .filters-section {\n            background: white;\n            padding: 25px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            margin-bottom: 30px;\n        }\n\n        .filters-section h2 {\n            font-size: 20px;\n            margin-bottom: 20px;\n            color: #2c3e50;\n        }\n\n        .filters-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 15px;\n            align-items: end;\n        }\n\n        .filter-item.reset-actions {\n            display: flex;\n            justify-content: flex-end;\n            align-items: flex-end;\n            grid-column: -1;\n        }\n\n        @media (min-width: 1200px) {\n            .filters-grid {\n                grid-template-columns: repeat(6, 1fr);\n            }\n        }\n\n        .filter-item {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .filter-item label {\n            font-weight: 600;\n            margin-bottom: 6px;\n            color: #555;\n            font-size: 14px;\n        }\n\n        .filter-item input,\n        .filter-item select {\n            padding: 10px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n            font-size: 14px;\n        }\n\n        .filter-item select {\n            appearance: none;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" viewBox=\"0 0 12 12\"><path fill=\"%23333\" d=\"M6 9L1 4h10z\"/></svg>');\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n            padding-right: 35px;\n        }\n\n        .range-slider {\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n\n        .range-value {\n            font-weight: 600;\n            color: #3498db;\n            min-width: 40px;\n        }\n\n        .sort-controls {\n            display: flex;\n            gap: 10px;\n            align-items: center;\n        }\n\n        .sort-controls label {\n            font-weight: 600;\n            color: #555;\n        }\n\n        .sort-controls select {\n            padding: 8px 12px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n            font-size: 14px;\n            appearance: none;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" viewBox=\"0 0 12 12\"><path fill=\"%23333\" d=\"M6 9L1 4h10z\"/></svg>');\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n            padding-right: 35px;\n        }\n\n        .sort-btn {\n            background: #ecf0f1;\n            border: none;\n            padding: 8px 12px;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 14px;\n            transition: background 0.3s;\n        }\n\n        .sort-btn:hover {\n            background: #bdc3c7;\n        }\n\n        .reset-filters-btn {\n            background: #e74c3c;\n            color: white;\n            border: none;\n            padding: 10px 16px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            justify-content: center;\n            transition: background 0.3s;\n        }\n\n        .reset-filters-btn:hover {\n            background: #c0392b;\n        }\n\n        .discard-btn {\n            background: #7f8c8d;\n            color: white;\n            border: none;\n            padding: 10px 16px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            justify-content: center;\n            transition: background 0.3s;\n        }\n\n        .discard-btn:hover {\n            background: #646f73;\n        }\n\n        .save-processing-btn {\n            background: #27ae60;\n            color: white;\n            border: none;\n            padding: 10px 16px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            justify-content: center;\n            transition: background 0.3s;\n        }\n\n        .save-processing-btn:hover:not(:disabled) {\n            background: #229954;\n        }\n\n        .save-processing-btn:disabled {\n            background: #95a5a6;\n            cursor: not-allowed;\n            opacity: 0.8;\n        }\n\n        .save-kvs-btn {\n            background: #27ae60;\n            color: white;\n            border: none;\n            padding: 14px 40px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 15px;\n            font-weight: 600;\n            transition: all 0.3s;\n            display: inline-flex;\n            align-items: center;\n            gap: 10px;\n            justify-content: center;\n            min-width: 150px;\n        }\n\n        .save-kvs-btn:hover:not(:disabled) {\n            background: #229954;\n            transform: translateY(-1px);\n            box-shadow: 0 4px 8px rgba(39, 174, 96, 0.3);\n        }\n\n        .save-kvs-btn:disabled {\n            background: #95a5a6;\n            cursor: not-allowed;\n            box-shadow: none;\n            transform: none;\n        }\n\n        /* KVS layout */\n        .kvs-grid {\n            display: grid;\n            grid-template-columns: 1fr;\n            gap: 25px;\n            margin-bottom: 30px;\n        }\n\n        .kvs-item {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .kvs-item label {\n            font-weight: 600;\n            margin-bottom: 10px;\n            color: #2c3e50;\n            font-size: 15px;\n        }\n\n        .kvs-item input,\n        .kvs-item textarea {\n            padding: 12px;\n            border: 2px solid #e1e8ed;\n            border-radius: 6px;\n            font-size: 14px;\n            font-family: 'Courier New', monospace;\n            transition: border-color 0.3s;\n            background: #f8f9fa;\n        }\n\n        .kvs-item textarea {\n            resize: vertical;\n            min-height: 220px;\n            line-height: 1.6;\n        }\n\n        .kvs-item input:focus,\n        .kvs-item textarea:focus {\n            outline: none;\n            border-color: #3498db;\n            background: white;\n        }\n\n        .kvs-item.limit-item input {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n        }\n\n        .import-btn.disabled {\n            background: #bdc3c7;\n            cursor: not-allowed;\n            opacity: 0.7;\n        }\n\n        .error {\n            display: none;\n            padding: 15px;\n            background: #e74c3c;\n            color: white;\n            border-radius: 4px;\n            margin-bottom: 20px;\n        }\n\n        .error.active {\n            display: block;\n        }\n\n        .table-container {\n            display: none;\n            overflow-x: auto;\n            margin-bottom: 20px;\n        }\n\n        .table-container.active {\n            display: block;\n        }\n\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            font-size: 14px;\n        }\n\n        thead {\n            background: #f8f9fa;\n            position: sticky;\n            top: 0;\n        }\n\n        th {\n            text-align: left;\n            padding: 12px;\n            font-weight: 600;\n            color: #555;\n            border-bottom: 2px solid #dee2e6;\n            white-space: nowrap;\n        }\n\n        td {\n            padding: 12px;\n            border-bottom: 1px solid #dee2e6;\n        }\n\n        tbody tr {\n            cursor: pointer;\n            transition: background 0.2s;\n        }\n\n        tbody tr:hover {\n            background: #f8f9fa;\n        }\n\n        .no-results {\n            text-align: center;\n            padding: 40px;\n            color: #999;\n            font-size: 16px;\n        }\n\n        .pagination-container {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            gap: 10px;\n            margin-top: 25px;\n            padding: 20px;\n        }\n\n        .pagination-btn {\n            background: #3498db;\n            color: white;\n            border: none;\n            padding: 10px 16px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s;\n            min-width: 40px;\n        }\n\n        .pagination-btn:hover:not(:disabled) {\n            background: #2980b9;\n            transform: translateY(-1px);\n        }\n\n        .pagination-btn:disabled {\n            background: #bdc3c7;\n            cursor: not-allowed;\n            opacity: 0.6;\n        }\n\n        .pagination-info {\n            color: #666;\n            font-size: 14px;\n            font-weight: 600;\n            padding: 0 15px;\n        }\n\n        .null-value {\n            color: #95a5a6;\n            font-style: italic;\n        }\n\n        .delete-btn {\n            background: #e74c3c;\n            color: white;\n            border: none;\n            padding: 6px 12px;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 12px;\n            font-weight: 600;\n            transition: background 0.3s;\n        }\n\n        .delete-btn:hover {\n            background: #c0392b;\n        }\n\n        /* Status & Badge Components */\n        .status-badge {\n            display: inline-block;\n            padding: 4px 12px;\n            border-radius: 12px;\n            font-size: 12px;\n            font-weight: 600;\n        }\n\n        .status-queued {\n            background: #fff3cd;\n            color: #856404;\n        }\n\n        .status-processed {\n            background: #d4edda;\n            color: #155724;\n        }\n\n        .lead-score {\n            display: inline-block;\n            padding: 4px 10px;\n            border-radius: 4px;\n            font-weight: 600;\n            background: #e3f2fd;\n            color: #1976d2;\n        }\n\n        .deal-link {\n            color: #3498db;\n            text-decoration: underline;\n            font-weight: 600;\n            cursor: pointer;\n        }\n\n        .deal-link:hover {\n            color: #2980b9;\n        }\n\n        .push-btn {\n            background: #27ae60;\n            color: white;\n            border: none;\n            padding: 6px 12px;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 12px;\n            font-weight: 600;\n            transition: background 0.3s;\n        }\n\n        .push-btn:hover {\n            background: #229954;\n        }\n\n        .push-btn:disabled {\n            background: #95a5a6;\n            cursor: not-allowed;\n        }\n\n        .pushed-badge {\n            display: inline-block;\n            background: #3498db;\n            color: white;\n            padding: 6px 12px;\n            border-radius: 4px;\n            font-size: 12px;\n            font-weight: 600;\n        }\n\n        /* Modal Components */\n        .modal-overlay {\n            display: none;\n            position: fixed;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background: rgba(0, 0, 0, 0.5);\n            z-index: 1000;\n            justify-content: center;\n            align-items: center;\n            padding: 20px;\n        }\n\n        .modal-overlay.active {\n            display: flex;\n        }\n\n        .modal-content {\n            background: white;\n            border-radius: 8px;\n            max-width: 800px;\n            width: 100%;\n            max-height: 90vh;\n            overflow-y: auto;\n            position: relative;\n            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);\n        }\n\n        .modal-header {\n            padding: 25px;\n            border-bottom: 2px solid #dee2e6;\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            position: sticky;\n            top: 0;\n            background: white;\n            z-index: 1;\n        }\n\n        .modal-header h2 {\n            font-size: 24px;\n            color: #2c3e50;\n        }\n\n        .modal-close {\n            background: none;\n            border: none;\n            font-size: 28px;\n            color: #999;\n            cursor: pointer;\n            line-height: 1;\n            padding: 0;\n            width: 30px;\n            height: 30px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            transition: color 0.3s;\n        }\n\n        .modal-close:hover {\n            color: #333;\n        }\n\n        .modal-body {\n            padding: 25px;\n        }\n\n        .modal-section {\n            margin-bottom: 25px;\n        }\n\n        .modal-section h3 {\n            font-size: 18px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            padding-bottom: 8px;\n            border-bottom: 2px solid #e3f2fd;\n        }\n\n        .modal-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 15px;\n        }\n\n        .modal-field {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .modal-field.full-width {\n            grid-column: 1 / -1;\n        }\n\n        .modal-field label {\n            font-weight: 600;\n            color: #555;\n            font-size: 13px;\n            margin-bottom: 5px;\n        }\n\n        .modal-field .value {\n            color: #333;\n            font-size: 14px;\n            padding: 8px;\n            background: #f8f9fa;\n            border-radius: 4px;\n        }\n\n        .modal-field .value.long-text {\n            white-space: pre-wrap;\n            line-height: 1.6;\n        }\n\n        @media (max-width: 768px) {\n            .header {\n                flex-direction: column;\n                gap: 15px;\n                align-items: flex-start;\n            }\n\n            .data-section {\n                padding: 20px;\n            }\n\n            table {\n                font-size: 12px;\n            }\n\n            th,\n            td {\n                padding: 8px;\n            }\n\n            .modal-grid {\n                grid-template-columns: 1fr;\n            }\n        }\n    </style>\n    <!-- SheetJS library for Excel parsing -->\n    <script src=\"https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js\"></script>\n</head>\n\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <h1>🚚 VerpakkingenXL Lead Import Dashboard</h1>\n            <button class=\"refresh-btn\" id=\"refreshBtn\">Refresh</button>\n        </div>\n\n            <div class=\"tabs-container\">\n                <div class=\"tabs-header\">\n                    <button class=\"tab-btn active\" data-tab=\"dashboard\" onclick=\"switchTab('dashboard')\">📊 Dashboard</button>\n                    <button class=\"tab-btn\" data-tab=\"kvs\" onclick=\"switchTab('kvs')\">⚙️ KVS Configuration</button>\n                    <button class=\"tab-btn\" data-tab=\"import\" onclick=\"switchTab('import')\">📥 Import Data</button>\n                </div>\n\n                <!-- Dashboard Tab -->\n                <div id=\"tab-dashboard\" class=\"tab-content active\">\n                    <!-- Filters Section -->\n                    <div class=\"filters-section\" id=\"dashboardFiltersSection\">\n                        <h2>Filters</h2>\n                        <div class=\"filters-grid\">\n                            <div class=\"filter-item\">\n                                <label for=\"dashboardSearch\">Search</label>\n                                <input type=\"text\" id=\"dashboardSearch\" placeholder=\"Name, Email, Phone...\">\n                            </div>\n                            <div class=\"filter-item\">\n                                <label for=\"dashboardStatus\">Status</label>\n                                <select id=\"dashboardStatus\">\n                                    <option value=\"all\">All</option>\n                                    <option value=\"queued\">Queued</option>\n                                    <option value=\"processed\">Processed</option>\n                                </select>\n                            </div>\n                            <div class=\"filter-item\">\n                                <label for=\"dashboardSource\">Source</label>\n                                <select id=\"dashboardSource\">\n                                    <option value=\"all\">All</option>\n                                    <option value=\"zendesk\">Zendesk</option>\n                                    <option value=\"erp\">ERP</option>\n                                </select>\n                            </div>\n                            <div class=\"filter-item\">\n                                <label for=\"dashboardShippingVolume\">Estimated Shipping Volume</label>\n                                <select id=\"dashboardShippingVolume\">\n                                    <option value=\"all\">All</option>\n                                    <option value=\"low\">Low</option>\n                                    <option value=\"medium\">Medium</option>\n                                    <option value=\"high\">High</option>\n                                </select>\n                            </div>\n                            <div class=\"filter-item\">\n                                <label for=\"dashboardLogisticsType\">Logistics Type</label>\n                                <select id=\"dashboardLogisticsType\">\n                                    <option value=\"all\">All</option>\n                                    <option value=\"parcels\">Parcels</option>\n                                    <option value=\"pallets\">Pallets</option>\n                                    <option value=\"both\">Both</option>\n                                </select>\n                            </div>\n                            <div class=\"filter-item\">\n                                <label>Lead Score Range: <span class=\"range-value\" id=\"dashboardScoreDisplay\">0.0 - 10.0</span></label>\n                                <div class=\"range-slider\">\n                                    <input type=\"number\" id=\"dashboardScoreMin\" min=\"0\" max=\"10\" step=\"0.1\" value=\"0\" style=\"width: 80px;\">\n                                    <span>to</span>\n                                    <input type=\"number\" id=\"dashboardScoreMax\" min=\"0\" max=\"10\" step=\"0.1\" value=\"10\" style=\"width: 80px;\">\n                                </div>\n                            </div>\n                            <div class=\"filter-item reset-actions\">\n                                <button class=\"reset-filters-btn\" id=\"dashboardResetFiltersBtn\">✕ Reset Filters</button>\n                            </div>\n                        </div>\n                    </div>\n\n                    <div class=\"data-section\">\n                        <div class=\"data-header\">\n                            <h2>Zendesk Leads</h2>\n                            <div class=\"sort-controls\">\n                                <label>Sort by:</label>\n                                <select id=\"dashboardSortField\">\n                                    <option value=\"createdAt\">Created Date</option>\n                                    <option value=\"lead_score\">Lead Score</option>\n                                </select>\n                                <button class=\"sort-btn\" id=\"dashboardSortBtn\">\n                                    <span id=\"dashboardSortDirection\">↓</span>\n                                </button>\n                            </div>\n                        </div>\n                        <div class=\"results-count\" id=\"dashboardResultsCount\">No data available</div>\n                        <div class=\"table-container active\">\n                            <table id=\"dashboardTable\">\n                                <thead>\n                                    <tr>\n                                        <th>Customer Name</th>\n                                        <th>Email</th>\n                                        <th>Phone</th>\n                                        <th>Shipping Vol.</th>\n                                        <th>Logistics</th>\n                                        <th>Lead Score</th>\n                                        <th>Source</th>\n                                        <th>Status</th>\n                                        <th>Created</th>\n                                        <th id=\"orgIdHeader\" style=\"display: none;\">Org ID</th>\n                                        <th id=\"personIdHeader\" style=\"display: none;\">Person ID</th>\n                                        <th id=\"dealIdHeader\" style=\"display: none;\">Deal ID</th>\n                                        <th id=\"pushHeader\" style=\"display: none;\">Action</th>\n                                    </tr>\n                                </thead>\n                                <tbody id=\"dashboardTableBody\">\n                                    <tr>\n                                        <td colspan=\"13\" class=\"no-results\">No data available</td>\n                                    </tr>\n                                </tbody>\n                            </table>\n                        </div>\n                        <div class=\"pagination-container\" id=\"dashboardPaginationContainer\" style=\"display: none;\">\n                            <button class=\"pagination-btn\" id=\"dashboardFirstBtn\">««</button>\n                            <button class=\"pagination-btn\" id=\"dashboardPrevBtn\">«</button>\n                            <span class=\"pagination-info\" id=\"dashboardPageInfo\">Page 1 of 1</span>\n                            <button class=\"pagination-btn\" id=\"dashboardNextBtn\">»</button>\n                            <button class=\"pagination-btn\" id=\"dashboardLastBtn\">»»</button>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Import Data Tab -->\n                <div id=\"tab-import\" class=\"tab-content\">\n                    <div class=\"data-section\">\n                        <div class=\"data-header\">\n                            <h2>Customers</h2>\n                            <div style=\"display: flex; gap: 10px;\">\n                                <label for=\"fileInput\" class=\"import-btn\" id=\"importBtn\">Import Zendesk JSONL File</label>\n                                <input type=\"file\" id=\"fileInput\" accept=\".jsonl,.json\" style=\"display: none;\">\n                                <label for=\"excelFileInput\" class=\"import-btn excel-btn\" id=\"importExcelBtn\">Import Custom ERP Excel File</label>\n                                <input type=\"file\" id=\"excelFileInput\" accept=\".xlsx,.xls\" style=\"display: none;\">\n                            </div>\n                        </div>\n\n                        <div class=\"loading\" id=\"loading\"\n                            style=\"display: none; text-align: center; margin: 20px 0; color: #7f8c8d;\">\n                            <span class=\"spinner\"></span>\n                            <span style=\"margin-left: 10px;\">Parsing file...</span>\n                        </div>\n\n                        <div class=\"error\" id=\"error\"\n                            style=\"display: none; padding: 15px; background: #e74c3c; color: white; border-radius: 4px; margin-bottom: 20px;\">\n                        </div>\n\n                        <!-- Filters -->\n                        <div class=\"filters-section\" id=\"filtersSection\">\n                            <h3>Filters</h3>\n                            <div class=\"filters-grid\">\n                                <div class=\"filter-item\">\n                                    <label for=\"searchQuery\">Search</label>\n                                    <input type=\"text\" id=\"searchQuery\" placeholder=\"Search by name or email...\">\n                                </div>\n                                <div class=\"filter-item\">\n                                    <button class=\"reset-filters-btn\" id=\"resetFiltersBtn\">✕ Reset Filters</button>\n                                </div>\n                                <div class=\"filter-item\">\n                                    <button class=\"discard-btn\" id=\"discardBtn\">Discard Data</button>\n                                </div>\n                                <div class=\"filter-item\">\n                                    <button class=\"save-processing-btn\" id=\"saveProcessingBtn\">Save data for processing</button>\n                                </div>\n                            </div>\n                        </div>\n\n                        <div class=\"results-count\" id=\"resultsCount\">No data loaded</div>\n\n                        <div class=\"table-container\" id=\"importTableContainer\">\n                            <table>\n                                <thead>\n                                    <tr>\n                                        <th>ID</th>\n                                        <th>Name</th>\n                                        <th>Email</th>\n                                        <th>Phone</th>\n                                        <th>Address</th>\n                                        <th>Locale</th>\n                                        <th>Actions</th>\n                                    </tr>\n                                </thead>\n                                <tbody id=\"tableBody\">\n                                    <tr>\n                                        <td colspan=\"7\" class=\"no-results\">No data loaded. Please import a file.</td>\n                                    </tr>\n                                </tbody>\n                            </table>\n                        </div>\n\n                        <!-- Pagination -->\n                        <div class=\"pagination-container\" id=\"paginationContainer\" style=\"display: none;\">\n                            <button class=\"pagination-btn\" id=\"firstBtn\">««</button>\n                            <button class=\"pagination-btn\" id=\"prevBtn\">«</button>\n                            <span class=\"pagination-info\" id=\"pageInfo\">Page 1 of 1</span>\n                            <button class=\"pagination-btn\" id=\"nextBtn\">»</button>\n                            <button class=\"pagination-btn\" id=\"lastBtn\">»»</button>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- KVS Configuration Tab -->\n                <div id=\"tab-kvs\" class=\"tab-content\">\n                    <h2 style=\"margin-bottom: 25px; color: #2c3e50; font-size: 24px;\">⚙️ KVS Configuration</h2>\n\n                    <div class=\"kvs-grid\">\n                        <div class=\"kvs-item\">\n                            <label for=\"system_prompt_base_agent\">📝 System Prompt - Base Agent</label>\n                            <textarea id=\"system_prompt_base_agent\"\n                                placeholder=\"Enter the system prompt for the base agent...\"></textarea>\n                        </div>\n\n                        <div class=\"kvs-item\">\n                            <label for=\"system_prompt_web_search_agent\">🔍 System Prompt - Web Search Agent</label>\n                            <textarea id=\"system_prompt_web_search_agent\"\n                                placeholder=\"Enter the system prompt for the web search agent...\"></textarea>\n                        </div>\n\n                        <div class=\"kvs-item limit-item\">\n                            <label for=\"pipedrive_push_limit\">📦 Automated Pipedrive Push Limit</label>\n                            <input type=\"number\" id=\"pipedrive_push_limit\" placeholder=\"Enter Pipedrive push limit...\">\n                        </div>\n\n                        <div class=\"kvs-item limit-item\">\n                            <label for=\"daily_processing_limit\">📅 Daily Lead Processing Limit</label>\n                            <input type=\"number\" id=\"daily_processing_limit\" placeholder=\"Enter daily processing limit...\">\n                        </div>\n                    </div>\n\n                    <button class=\"save-kvs-btn\" id=\"save-kvs-btn\">\n                        <span id=\"save-btn-text\">💾 Save Configuration</span>\n                    </button>\n                </div>\n        </div>\n    </div>\n\n    <!-- Modal -->\n    <div class=\"modal-overlay\" id=\"modalOverlay\" onclick=\"closeModalOnOverlay(event)\">\n        <div class=\"modal-content\" onclick=\"event.stopPropagation()\">\n            <div class=\"modal-header\">\n                <h2 id=\"modalTitle\">Lead Details</h2>\n                <button class=\"modal-close\" onclick=\"closeModal()\">&times;</button>\n            </div>\n            <div class=\"modal-body\" id=\"modalBody\">\n                <!-- Content will be populated by JavaScript -->\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Global state\n        let allUsers = [];\n        let currentPage = 1;\n        const itemsPerPage = 20;\n        let kvsFieldsEdited = false;\n\n        // Blocklist of free / personal providers (base label, regardless of TLD)\n        const BLOCKLIST_FREE_PROVIDERS = [\n            'gmail',\n            'googlemail',\n            'google',\n            'hotmail',\n            'outlook',\n            'live',\n            'msn',\n            'yahoo',\n            'aol',\n            'icloud',\n            'me',\n            'mac',\n            'protonmail',\n            'mail',\n            'foxmail',\n            '163',\n            'vip',\n            'yeah',\n            'yandex',\n            'rambler',\n            'qq',\n            'web'\n        ];\n\n        // DOM elements\n        const fileInput = document.getElementById('fileInput');\n        const excelFileInput = document.getElementById('excelFileInput');\n        const loading = document.getElementById('loading');\n        const error = document.getElementById('error');\n        const resultsCount = document.getElementById('resultsCount');\n        const tableBody = document.getElementById('tableBody');\n        const tableContainer = document.getElementById('importTableContainer');\n        const paginationContainer = document.getElementById('paginationContainer');\n        const pageInfo = document.getElementById('pageInfo');\n        const firstBtn = document.getElementById('firstBtn');\n        const prevBtn = document.getElementById('prevBtn');\n        const nextBtn = document.getElementById('nextBtn');\n        const lastBtn = document.getElementById('lastBtn');\n        const refreshBtn = document.getElementById('refreshBtn');\n        const importBtn = document.getElementById('importBtn');\n        const importExcelBtn = document.getElementById('importExcelBtn');\n        const filtersSection = document.getElementById('filtersSection');\n        const searchInput = document.getElementById('searchQuery');\n        const resetFiltersBtn = document.getElementById('resetFiltersBtn');\n        const discardBtn = document.getElementById('discardBtn');\n        const saveProcessingBtn = document.getElementById('saveProcessingBtn');\n        const saveKvsBtn = document.getElementById('save-kvs-btn');\n        const saveKvsBtnText = document.getElementById('save-btn-text');\n\n        const SAVE_WEBHOOK_URL = 'https://your-n8n-domain/webhook/save-raw-data';\n        const KVS_WEBHOOK_URL = 'https://your-n8n-domain/webhook/update-kvs-2.0';\n        const PUSH_WEBHOOK_URL = 'https://your-n8n-domain/webhook/push-to-pipedrive';\n\n        const KVS_FIELDS = [\n            { id: 'system_prompt_base_agent', key: 'system_prompt_base_agent' },\n            { id: 'system_prompt_web_search_agent', key: 'system_prompt_web_search_agent' },\n            { id: 'pipedrive_push_limit', key: 'pipedrive_push_limit' },\n            { id: 'daily_processing_limit', key: 'daily_processing_limit' }\n        ];\n\n        // UI state helpers\n        const showLoading = () => loading.style.display = 'block';\n        const hideLoading = () => loading.style.display = 'none';\n        \n        const showError = (message) => {\n            error.textContent = message;\n            error.style.display = 'block';\n        };\n        \n        const hideError = () => error.style.display = 'none';\n        const showResults = () => {\n            tableContainer.classList.add('active');\n            paginationContainer.style.display = 'flex';\n            filtersSection.style.display = 'block';\n        };\n        \n        const hideResults = () => {\n            tableContainer.classList.remove('active');\n            paginationContainer.style.display = 'none';\n            filtersSection.style.display = 'none';\n            tableBody.innerHTML = '<tr><td colspan=\"7\" class=\"no-results\">No data loaded. Please import a file.</td></tr>';\n            resultsCount.textContent = 'No data loaded';\n        };\n\n        // Hide filters and results on initial load until data is imported\n        hideResults();\n\n        // Helpers for email/domain filtering\n        function getEmailDomain(email) {\n            if (!email || typeof email !== 'string') return null;\n            const atIndex = email.lastIndexOf('@');\n            if (atIndex === -1) return null;\n            const domain = email.slice(atIndex + 1).toLowerCase().trim();\n            return domain || null;\n        }\n\n        function isBlockedEmailDomain(email) {\n            const domain = getEmailDomain(email);\n            if (!domain) return false;\n            \n            // Check base provider label only (e.g. hotmail.*, yahoo.*, outlook.*)\n            const parts = domain.split('.');\n            if (parts.length === 0) return false;\n            const provider = parts[0];\n            return BLOCKLIST_FREE_PROVIDERS.includes(provider);\n        }\n\n        // Helpers for name/email filters\n        function getFilteredUsers() {\n            if (!allUsers.length) return [];\n\n            const query = searchInput.value.trim().toLowerCase();\n\n            if (!query) {\n                return allUsers;\n            }\n\n            return allUsers.filter(user => {\n                const name = (user.name || '').toLowerCase();\n                const email = (user.email || '').toLowerCase();\n\n                return name.includes(query) || email.includes(query);\n            });\n        }\n\n        function handleFileSelect(event) {\n            const file = event.target.files[0];\n            if (!file) return;\n\n            // Reset state\n            allUsers = [];\n            currentPage = 1;\n            hideError();\n            hideResults();\n            showLoading();\n\n            // Read and parse file\n            const reader = new FileReader();\n            reader.onload = (e) => {\n                try {\n                    parseJSONL(e.target.result);\n                } catch (err) {\n                    allUsers = [];\n                    fileInput.value = '';\n                    showError('Failed to parse file: ' + err.message);\n                    hideLoading();\n                }\n            };\n            reader.onerror = () => {\n                allUsers = [];\n                fileInput.value = '';\n                showError('Failed to read file');\n                hideLoading();\n            };\n            reader.readAsText(file);\n        }\n\n        // Parse JSONL content\n        function parseJSONL(content) {\n            const lines = content.split('\\n');\n            const tempUsers = [];\n\n            for (let i = 0; i < lines.length; i++) {\n                const line = lines[i].trim();\n                if (!line) continue;\n\n                try {\n                    const rawUser = JSON.parse(line);\n\n                    // Skip users with blocked email domains\n                    if (isBlockedEmailDomain(rawUser.email)) {\n                        continue;\n                    }\n\n                    // Keep only the fields that are displayed in the table\n                    tempUsers.push({\n                        id: rawUser.id,\n                        name: rawUser.name,\n                        email: rawUser.email,\n                        phone: rawUser.phone,\n                        address: null,\n                        locale: rawUser.locale,\n                        source: 'zendesk'\n                    });\n                } catch (err) {\n                    hideLoading();\n                    allUsers = [];\n                    fileInput.value = '';\n                    showError(`Parsing error at line ${i + 1}: ${err.message}. File discarded.`);\n                    return;\n                }\n            }\n\n            hideLoading();\n\n            if (tempUsers.length === 0) {\n                allUsers = [];\n                fileInput.value = '';\n                showError('No valid user records found in file. File discarded.');\n                return;\n            }\n\n            // Success - commit the data\n            allUsers = tempUsers;\n\n            // Disable both import buttons while data is loaded\n            importBtn.classList.add('disabled');\n            importBtn.style.pointerEvents = 'none';\n            importExcelBtn.classList.add('disabled');\n            importExcelBtn.style.pointerEvents = 'none';\n\n            // Show results\n            renderTable();\n            showResults();\n        }\n\n        // Handle Excel file selection\n        function handleExcelFileSelect(event) {\n            const file = event.target.files[0];\n            if (!file) return;\n\n            hideError();\n            hideResults();\n            showLoading();\n\n            const reader = new FileReader();\n            reader.onload = (e) => {\n                try {\n                    parseExcel(e.target.result);\n                } catch (err) {\n                    allUsers = [];\n                    excelFileInput.value = '';\n                    showError('Failed to parse Excel file: ' + err.message);\n                    hideLoading();\n                }\n            };\n            reader.onerror = () => {\n                allUsers = [];\n                excelFileInput.value = '';\n                showError('Failed to read Excel file');\n                hideLoading();\n            };\n            reader.readAsArrayBuffer(file);\n        }\n\n        // Parse Excel content\n        function parseExcel(data) {\n            try {\n                const workbook = XLSX.read(data, { type: 'array' });\n                const firstSheetName = workbook.SheetNames[0];\n                const worksheet = workbook.Sheets[firstSheetName];\n                const jsonData = XLSX.utils.sheet_to_json(worksheet);\n\n                const tempUsers = [];\n\n                for (let i = 0; i < jsonData.length; i++) {\n                    const row = jsonData[i];\n\n                    // Map Excel columns to our data structure\n                    const klantCode = row['Klant code'] || row['Klant code'] || '';\n                    const klant = row['Klant'] || '';\n                    const adresregels = row['Adresregels'] || '';\n                    const postcode = row['Postcode'] || '';\n                    const plaats = row['Plaats'] || '';\n                    const provincie = row['Provincie'] || '';\n                    const land = row['Land'] || '';\n\n                    // Skip rows without required data\n                    if (!klantCode || !klant) {\n                        continue;\n                    }\n\n                    // Construct address from components\n                    const addressParts = [adresregels, postcode, plaats, provincie, land].filter(part => part);\n                    const address = addressParts.length > 0 ? addressParts.join(', ') : '-';\n\n                    tempUsers.push({\n                        id: String(klantCode).trim(),\n                        name: String(klant).trim(),\n                        email: null,\n                        phone: null,\n                        address: address,\n                        locale: null,\n                        source: 'erp'\n                    });\n                }\n\n                hideLoading();\n\n                if (tempUsers.length === 0) {\n                    allUsers = [];\n                    excelFileInput.value = '';\n                    showError('No valid records found in Excel file. File discarded.');\n                    return;\n                }\n\n                // Success - commit the data\n                allUsers = tempUsers;\n\n                // Disable import while data is loaded\n                importBtn.classList.add('disabled');\n                importBtn.style.pointerEvents = 'none';\n                importExcelBtn.classList.add('disabled');\n                importExcelBtn.style.pointerEvents = 'none';\n\n                // Show results\n                renderTable();\n                showResults();\n            } catch (err) {\n                hideLoading();\n                allUsers = [];\n                excelFileInput.value = '';\n                showError('Error parsing Excel file: ' + err.message);\n            }\n        }\n\n        // Render table for current page\n        function renderTable() {\n            if (allUsers.length === 0) {\n                tableBody.innerHTML = '<tr><td colspan=\"7\" class=\"no-results\">No users to display.</td></tr>';\n                resultsCount.textContent = 'No users to display';\n                paginationContainer.style.display = 'none';\n                return;\n            }\n\n            const visibleUsers = getFilteredUsers();\n\n            if (visibleUsers.length === 0) {\n                tableBody.innerHTML = '<tr><td colspan=\"7\" class=\"no-results\">No users match the current filters.</td></tr>';\n                resultsCount.textContent = 'Showing 0 of ' + allUsers.length + ' users';\n                paginationContainer.style.display = 'none';\n                return;\n            }\n\n            const totalPages = Math.ceil(visibleUsers.length / itemsPerPage);\n            if (currentPage > totalPages) {\n                currentPage = totalPages || 1;\n            }\n\n            const startIndex = (currentPage - 1) * itemsPerPage;\n            const pageUsers = visibleUsers.slice(startIndex, startIndex + itemsPerPage);\n\n            const rows = pageUsers.map((user) => {\n                return `<tr>\n                    <td>${formatValue(user.id)}</td>\n                    <td>${formatValue(user.name)}</td>\n                    <td>${formatValue(user.email)}</td>\n                    <td>${formatValue(user.phone)}</td>\n                    <td>${formatValue(user.address)}</td>\n                    <td>${formatValue(user.locale)}</td>\n                    <td><button class=\"delete-btn\" onclick=\"deleteUser('${String(user.id)}')\">Delete</button></td>\n                </tr>`;\n            });\n\n            tableBody.innerHTML = rows.join('');\n            updatePagination();\n        }\n\n        // Format table cell values\n        function formatValue(value) {\n            if (value === null || value === undefined || value === '') {\n                return '<span class=\"null-value\">—</span>';\n            }\n            return typeof value === 'boolean' ? (value ? 'Yes' : 'No') : String(value);\n        }\n\n        // Update pagination controls\n        function updatePagination() {\n            const visibleUsers = getFilteredUsers();\n\n            if (visibleUsers.length === 0) {\n                pageInfo.textContent = 'Page 0 of 0';\n                resultsCount.textContent = 'Showing 0 of ' + allUsers.length + ' users';\n                firstBtn.disabled = prevBtn.disabled = true;\n                nextBtn.disabled = lastBtn.disabled = true;\n                return;\n            }\n\n            const totalPages = Math.ceil(visibleUsers.length / itemsPerPage);\n            const startIdx = (currentPage - 1) * itemsPerPage;\n            const endIdx = Math.min(startIdx + itemsPerPage, visibleUsers.length);\n\n            pageInfo.textContent = `Page ${currentPage} of ${totalPages}`;\n            resultsCount.textContent = `Showing ${startIdx + 1}-${endIdx} of ${visibleUsers.length} users (${allUsers.length} total)`;\n\n            const isFirstPage = currentPage === 1;\n            const isLastPage = currentPage === totalPages;\n\n            firstBtn.disabled = prevBtn.disabled = isFirstPage;\n            nextBtn.disabled = lastBtn.disabled = isLastPage;\n        }\n\n        // Pagination handlers\n        const goToPage = (pageNumber) => {\n            const visibleUsers = getFilteredUsers();\n            const totalPages = Math.ceil(visibleUsers.length / itemsPerPage) || 1;\n            if (pageNumber >= 1 && pageNumber <= totalPages) {\n                currentPage = pageNumber;\n                renderTable();\n            }\n        };\n\n        firstBtn.addEventListener('click', () => goToPage(1));\n        prevBtn.addEventListener('click', () => goToPage(currentPage - 1));\n        nextBtn.addEventListener('click', () => goToPage(currentPage + 1));\n        lastBtn.addEventListener('click', () => {\n            const visibleUsers = getFilteredUsers();\n            const totalPages = Math.ceil(visibleUsers.length / itemsPerPage) || 1;\n            goToPage(totalPages);\n        });\n\n        // Delete user function\n        function deleteUser(userId) {\n            if (!confirm('Are you sure you want to delete this user entry?')) return;\n\n            const idStr = String(userId);\n            allUsers = allUsers.filter(u => String(u.id) !== idStr);\n\n            if (allUsers.length === 0) {\n                currentPage = 1;\n                hideResults();\n                return;\n            }\n            \n            // Adjust current page if needed\n            const totalPages = Math.ceil(allUsers.length / itemsPerPage);\n            if (currentPage > totalPages) currentPage = totalPages;\n            \n            renderTable();\n        }\n\n        // Refresh data\n        const refreshData = () => {\n            location.reload();\n        };\n\n        // Event listeners\n        fileInput.addEventListener('change', handleFileSelect);\n        excelFileInput.addEventListener('change', handleExcelFileSelect);\n        refreshBtn.addEventListener('click', refreshData);\n        searchInput.addEventListener('input', () => {\n            currentPage = 1;\n            renderTable();\n        });\n        resetFiltersBtn.addEventListener('click', () => {\n            searchInput.value = '';\n            currentPage = 1;\n            renderTable();\n        });\n\n        function resetUI() {\n            allUsers = [];\n            currentPage = 1;\n            fileInput.value = '';\n            excelFileInput.value = '';\n            searchInput.value = '';\n            hideError();\n            hideResults();\n\n            // Re-enable import buttons\n            importBtn.classList.remove('disabled');\n            importBtn.style.pointerEvents = '';\n            importExcelBtn.classList.remove('disabled');\n            importExcelBtn.style.pointerEvents = '';\n        }\n\n        discardBtn.addEventListener('click', () => {\n            resetUI();\n        });\n\n        // Save data for processing via webhook\n        saveProcessingBtn.addEventListener('click', async () => {\n            if (!allUsers.length) {\n                showError('No data loaded to save.');\n                return;\n            }\n\n            hideError();\n            saveProcessingBtn.disabled = true;\n            const originalText = saveProcessingBtn.textContent;\n            saveProcessingBtn.textContent = 'Saving...';\n\n            try {\n                // Get source from first user (all users in the array have the same source)\n                const source = allUsers[0]?.source || 'unknown';\n                \n                // Remove source field from user objects before sending\n                const usersWithoutSource = allUsers.map(user => {\n                    const { source, ...userData } = user;\n                    return userData;\n                });\n\n                const response = await fetch(SAVE_WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({\n                        source: source,\n                        data: usersWithoutSource\n                    })\n                });\n\n                let data = null;\n                try {\n                    data = await response.json();\n                } catch (e) {\n                    // Ignore JSON parse errors, will fall back to generic error\n                }\n\n                if (response.ok && data && data.status === 'success') {\n                    alert('Data saved successfully for processing.');\n                    resetUI();\n                } else {\n                    showError('Failed to save data for processing.');\n                }\n            } catch (e) {\n                showError('Failed to save data for processing.');\n            } finally {\n                saveProcessingBtn.textContent = originalText;\n                saveProcessingBtn.disabled = false;\n            }\n        });\n\n        // Tab switching\n        function switchTab(tabName) {\n            document.querySelectorAll('.tab-btn').forEach(btn => {\n                const isActive = btn.dataset.tab === tabName;\n                btn.classList.toggle('active', isActive);\n            });\n\n            document.querySelectorAll('.tab-content').forEach(content => {\n                const isActive = content.id === 'tab-' + tabName;\n                content.classList.toggle('active', isActive);\n            });\n        }\n\n        // KVS initialization and saving\n        function populateKVS() {\n            const placeholders = {\n                system_prompt_base_agent: 'No Available Data',\n                system_prompt_web_search_agent: 'No Available Data',\n                pipedrive_push_limit: 'No Data',\n                daily_processing_limit: 'No Data'\n            };\n\n            const kvsData = Array.isArray(window.kvsDataFromN8n) ? window.kvsDataFromN8n : [];\n\n            if (!kvsData.length) {\n                KVS_FIELDS.forEach(field => {\n                    const el = document.getElementById(field.id);\n                    if (!el) return;\n                    el.value = '';\n                    el.placeholder = placeholders[field.id] || '';\n                });\n            } else {\n                kvsData.forEach(item => {\n                    const el = document.getElementById(item.key);\n                    if (el) {\n                        el.value = item.value;\n                        el.placeholder = '';\n                    }\n                });\n            }\n\n            attachKvsEventListeners();\n            updateKvsSaveButtonState();\n        }\n\n        function attachKvsEventListeners() {\n            KVS_FIELDS.forEach(field => {\n                const el = document.getElementById(field.id);\n                if (!el) return;\n                el.addEventListener('input', () => {\n                    kvsFieldsEdited = true;\n                    updateKvsSaveButtonState();\n                });\n            });\n\n            saveKvsBtn.addEventListener('click', saveKVS);\n        }\n\n        function updateKvsSaveButtonState() {\n            saveKvsBtn.disabled = !kvsFieldsEdited;\n        }\n\n        function buildKVSPayload() {\n            const payload = [];\n            KVS_FIELDS.forEach(field => {\n                const el = document.getElementById(field.id);\n                if (!el) return;\n                const value = el.value;\n                if (value !== '' && value !== undefined && value !== null) {\n                    payload.push({ key: field.key, value });\n                }\n            });\n            return payload;\n        }\n\n        async function saveKVS() {\n            const payload = buildKVSPayload();\n            if (!payload.length) {\n                alert('No KVS values to save.');\n                return;\n            }\n\n            saveKvsBtn.disabled = true;\n            const originalText = saveKvsBtnText.textContent;\n            saveKvsBtnText.textContent = 'Saving...';\n\n            try {\n                const response = await fetch(KVS_WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(payload)\n                });\n\n                let data = null;\n                try {\n                    data = await response.json();\n                } catch (e) {\n                    // Ignore JSON parse errors, will fall back to generic error\n                }\n\n                if (response.ok && data && data.status === 'success') {\n                    kvsFieldsEdited = false;\n                    saveKvsBtnText.textContent = '✅ Saved Successfully!';\n                    setTimeout(() => {\n                        saveKvsBtnText.textContent = originalText;\n                        updateKvsSaveButtonState();\n                    }, 2000);\n                } else {\n                    throw new Error('Failed to save');\n                }\n            } catch (e) {\n                alert('Failed to save KVS configuration. Please try again.');\n                saveKvsBtn.disabled = false;\n                saveKvsBtnText.textContent = originalText;\n            }\n        }\n\n        // Initialize KVS data on load\n        populateKVS();\n\n        // ========================================\n        // Dashboard Tab Functionality\n        // ========================================\n        let dashboardData = [];\n        let dashboardFilteredData = [];\n        let dashboardCurrentPage = 1;\n        let dashboardSortDirection = 'desc';\n        const dashboardItemsPerPage = 20;\n\n        const dashboardTableBody = document.getElementById('dashboardTableBody');\n        const dashboardResultsCount = document.getElementById('dashboardResultsCount');\n        const dashboardPaginationContainer = document.getElementById('dashboardPaginationContainer');\n        const dashboardPageInfo = document.getElementById('dashboardPageInfo');\n        const dashboardFirstBtn = document.getElementById('dashboardFirstBtn');\n        const dashboardPrevBtn = document.getElementById('dashboardPrevBtn');\n        const dashboardNextBtn = document.getElementById('dashboardNextBtn');\n        const dashboardLastBtn = document.getElementById('dashboardLastBtn');\n        const modalOverlay = document.getElementById('modalOverlay');\n        const modalTitle = document.getElementById('modalTitle');\n        const modalBody = document.getElementById('modalBody');\n        const orgIdHeader = document.getElementById('orgIdHeader');\n        const personIdHeader = document.getElementById('personIdHeader');\n        const dealIdHeader = document.getElementById('dealIdHeader');\n        const pushHeader = document.getElementById('pushHeader');\n\n        function initializeDashboard() {\n            const zendeskData = Array.isArray(window.zendeskDataFromN8n) ? window.zendeskDataFromN8n : [];\n            dashboardData = zendeskData;\n            dashboardCurrentPage = 1;\n            dashboardSortDirection = 'desc';\n            applyDashboardFiltersAndSort();\n            setupDashboardEventListeners();\n        }\n\n        function getDashboardFilterValues() {\n            return {\n                search: (document.getElementById('dashboardSearch')?.value || '').toLowerCase(),\n                status: document.getElementById('dashboardStatus')?.value || 'all',\n                source: document.getElementById('dashboardSource')?.value || 'all',\n                shippingVolume: document.getElementById('dashboardShippingVolume')?.value || 'all',\n                logisticsType: document.getElementById('dashboardLogisticsType')?.value || 'all',\n                scoreMin: parseFloat(document.getElementById('dashboardScoreMin')?.value || 0),\n                scoreMax: parseFloat(document.getElementById('dashboardScoreMax')?.value || 10)\n            };\n        }\n\n        function filterDashboardItem(item, filters) {\n            // Search filter (name, email, phone)\n            if (filters.search) {\n                const searchFields = [\n                    item.customer_name || '',\n                    item.email || '',\n                    item.phone || ''\n                ].map(f => f.toLowerCase());\n                if (!searchFields.some(field => field.includes(filters.search))) return false;\n            }\n\n            // Status filter\n            if (filters.status !== 'all' && item.status !== filters.status) return false;\n\n            // Source filter\n            if (filters.source !== 'all' && (item.source || 'zendesk') !== filters.source) return false;\n\n            // Shipping volume filter\n            if (filters.shippingVolume !== 'all' && item.estimated_shipping_volume !== filters.shippingVolume) return false;\n\n            // Logistics type filter\n            if (filters.logisticsType !== 'all' && item.likely_logistics_type !== filters.logisticsType) return false;\n\n            // Lead score range filter\n            const leadScore = item.lead_score || 0;\n            if (leadScore < filters.scoreMin || leadScore > filters.scoreMax) return false;\n\n            return true;\n        }\n\n        function applyDashboardFiltersAndSort() {\n            const filters = getDashboardFilterValues();\n            dashboardFilteredData = dashboardData.filter(item => filterDashboardItem(item, filters));\n            \n            sortDashboardData();\n            dashboardCurrentPage = 1;\n            renderDashboardTable();\n        }\n\n        function sortDashboardData() {\n            const sortField = document.getElementById('dashboardSortField')?.value || 'createdAt';\n            \n            dashboardFilteredData.sort((a, b) => {\n                let aVal = a[sortField];\n                let bVal = b[sortField];\n\n                if (sortField === 'createdAt') {\n                    aVal = new Date(aVal);\n                    bVal = new Date(bVal);\n                }\n\n                const comparison = aVal > bVal ? 1 : -1;\n                return dashboardSortDirection === 'asc' ? comparison : -comparison;\n            });\n        }\n\n        function toggleDashboardSort() {\n            dashboardSortDirection = dashboardSortDirection === 'asc' ? 'desc' : 'asc';\n            const sortDirectionEl = document.getElementById('dashboardSortDirection');\n            if (sortDirectionEl) {\n                sortDirectionEl.textContent = dashboardSortDirection === 'asc' ? '↑' : '↓';\n            }\n            applyDashboardFiltersAndSort();\n        }\n\n        function updateDashboardScoreDisplay() {\n            const min = document.getElementById('dashboardScoreMin')?.value || 0;\n            const max = document.getElementById('dashboardScoreMax')?.value || 10;\n            const display = document.getElementById('dashboardScoreDisplay');\n            if (display) {\n                display.textContent = `${min} - ${max}`;\n            }\n        }\n\n        function resetDashboardFilters() {\n            const searchEl = document.getElementById('dashboardSearch');\n            const statusEl = document.getElementById('dashboardStatus');\n            const sourceEl = document.getElementById('dashboardSource');\n            const shippingVolEl = document.getElementById('dashboardShippingVolume');\n            const logisticsEl = document.getElementById('dashboardLogisticsType');\n            const scoreMinEl = document.getElementById('dashboardScoreMin');\n            const scoreMaxEl = document.getElementById('dashboardScoreMax');\n\n            if (searchEl) searchEl.value = '';\n            if (statusEl) statusEl.value = 'all';\n            if (sourceEl) sourceEl.value = 'all';\n            if (shippingVolEl) shippingVolEl.value = 'all';\n            if (logisticsEl) logisticsEl.value = 'all';\n            if (scoreMinEl) scoreMinEl.value = '0';\n            if (scoreMaxEl) scoreMaxEl.value = '10';\n            \n            updateDashboardScoreDisplay();\n            applyDashboardFiltersAndSort();\n        }\n\n        function setupDashboardEventListeners() {\n            const searchEl = document.getElementById('dashboardSearch');\n            const statusEl = document.getElementById('dashboardStatus');\n            const sourceEl = document.getElementById('dashboardSource');\n            const shippingVolEl = document.getElementById('dashboardShippingVolume');\n            const logisticsEl = document.getElementById('dashboardLogisticsType');\n            const scoreMinEl = document.getElementById('dashboardScoreMin');\n            const scoreMaxEl = document.getElementById('dashboardScoreMax');\n            const sortFieldEl = document.getElementById('dashboardSortField');\n            const sortBtn = document.getElementById('dashboardSortBtn');\n            const resetBtn = document.getElementById('dashboardResetFiltersBtn');\n\n            if (searchEl) {\n                searchEl.addEventListener('input', applyDashboardFiltersAndSort);\n            }\n            if (statusEl) {\n                statusEl.addEventListener('change', applyDashboardFiltersAndSort);\n            }\n            if (sourceEl) {\n                sourceEl.addEventListener('change', applyDashboardFiltersAndSort);\n            }\n            if (shippingVolEl) {\n                shippingVolEl.addEventListener('change', applyDashboardFiltersAndSort);\n            }\n            if (logisticsEl) {\n                logisticsEl.addEventListener('change', applyDashboardFiltersAndSort);\n            }\n            if (scoreMinEl) {\n                scoreMinEl.addEventListener('input', () => {\n                    updateDashboardScoreDisplay();\n                    applyDashboardFiltersAndSort();\n                });\n            }\n            if (scoreMaxEl) {\n                scoreMaxEl.addEventListener('input', () => {\n                    updateDashboardScoreDisplay();\n                    applyDashboardFiltersAndSort();\n                });\n            }\n            if (sortFieldEl) {\n                sortFieldEl.addEventListener('change', applyDashboardFiltersAndSort);\n            }\n            if (sortBtn) {\n                sortBtn.addEventListener('click', toggleDashboardSort);\n            }\n            if (resetBtn) {\n                resetBtn.addEventListener('click', resetDashboardFilters);\n            }\n        }\n\n        function renderDashboardTable() {\n            if (!dashboardData.length) {\n                dashboardTableBody.innerHTML = '<tr><td colspan=\"13\" class=\"no-results\">No data available</td></tr>';\n                dashboardResultsCount.textContent = 'No data available';\n                dashboardPaginationContainer.style.display = 'none';\n                orgIdHeader.style.display = 'none';\n                personIdHeader.style.display = 'none';\n                dealIdHeader.style.display = 'none';\n                pushHeader.style.display = 'none';\n                return;\n            }\n\n            if (!dashboardFilteredData.length) {\n                dashboardTableBody.innerHTML = '<tr><td colspan=\"13\" class=\"no-results\">No results found</td></tr>';\n                dashboardResultsCount.textContent = `Showing 0 of ${dashboardData.length} leads`;\n                dashboardPaginationContainer.style.display = 'none';\n                orgIdHeader.style.display = 'none';\n                personIdHeader.style.display = 'none';\n                dealIdHeader.style.display = 'none';\n                pushHeader.style.display = 'none';\n                return;\n            }\n\n            const startIndex = (dashboardCurrentPage - 1) * dashboardItemsPerPage;\n            const pageData = dashboardFilteredData.slice(startIndex, startIndex + dashboardItemsPerPage);\n\n            // Determine if we have queued items (to show push button)\n            const hasQueued = dashboardFilteredData.some(item => item.status === 'queued');\n\n            // Always hide org_id, person_id, and deal_id columns\n            orgIdHeader.style.display = 'none';\n            personIdHeader.style.display = 'none';\n            dealIdHeader.style.display = 'none';\n            pushHeader.style.display = hasQueued ? 'table-cell' : 'none';\n\n            dashboardTableBody.innerHTML = pageData.map(item => createDashboardRow(item)).join('');\n\n            updateDashboardPagination();\n        }\n\n        function createDashboardRow(item) {\n            const isProcessed = item.status === 'processed';\n            const leadScore = `<span class=\"lead-score\">${(item.lead_score || 0).toFixed(1)}</span>`;\n            // Convert UTC to Europe/Berlin timezone\n            const createdAt = new Date(item.createdAt).toLocaleDateString('nl-NL', { timeZone: 'Europe/Berlin' });\n            const shippingVol = item.estimated_shipping_volume || 'N/A';\n            const logistics = item.likely_logistics_type || 'N/A';\n\n            // Status cell: if processed and has deal_id, show as link, otherwise show badge\n            let statusCell = '';\n            if (isProcessed && item.deal_id) {\n                statusCell = `<a href=\"https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}\" class=\"deal-link\" onclick=\"openDealLink('https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}', event); return false;\">Processed</a>`;\n            } else {\n                const statusText = item.status.charAt(0).toUpperCase() + item.status.slice(1);\n                statusCell = `<span class=\"status-badge status-${item.status}\">${statusText}</span>`;\n            }\n\n            let pushCell = '';\n            if (isProcessed) {\n                pushCell = '<td><span class=\"pushed-badge\">Pushed</span></td>';\n            } else {\n                pushCell = `<td><button class=\"push-btn\" onclick=\"pushToPipedrive(${item.id}, event)\">Push to Pipedrive</button></td>`;\n            }\n\n            // Make customer name a link to organization if processed\n            let customerNameCell = item.customer_name || 'N/A';\n            if (isProcessed && item.org_id) {\n                customerNameCell = `<a href=\"https://verpakkingenxl.pipedrive.com/organization/${item.org_id}\" class=\"deal-link\" onclick=\"openDealLink('https://verpakkingenxl.pipedrive.com/organization/${item.org_id}', event); return false;\">${item.customer_name || 'N/A'}</a>`;\n            }\n\n            return `<tr onclick=\"openDashboardModal(${item.id})\">\n                <td>${customerNameCell}</td>\n                <td>${item.email || '—'}</td>\n                <td>${item.phone || '—'}</td>\n                <td>${shippingVol}</td>\n                <td>${logistics}</td>\n                <td>${leadScore}</td>\n                <td>${item.source || 'zendesk'}</td>\n                <td>${statusCell}</td>\n                <td>${createdAt}</td>\n                ${pushCell}\n            </tr>`;\n        }\n\n        function updateDashboardPagination() {\n            const totalPages = Math.ceil(dashboardFilteredData.length / dashboardItemsPerPage);\n            const startIdx = (dashboardCurrentPage - 1) * dashboardItemsPerPage;\n            const endIdx = Math.min(startIdx + dashboardItemsPerPage, dashboardFilteredData.length);\n\n            dashboardPageInfo.textContent = `Page ${dashboardCurrentPage} of ${totalPages}`;\n            dashboardResultsCount.textContent = `Showing ${startIdx + 1}-${endIdx} of ${dashboardFilteredData.length} leads (${dashboardData.length} total)`;\n\n            const isFirstPage = dashboardCurrentPage === 1;\n            const isLastPage = dashboardCurrentPage === totalPages;\n\n            dashboardFirstBtn.disabled = dashboardPrevBtn.disabled = isFirstPage;\n            dashboardNextBtn.disabled = dashboardLastBtn.disabled = isLastPage;\n\n            dashboardPaginationContainer.style.display = totalPages > 1 ? 'flex' : 'none';\n        }\n\n        function goToDashboardPage(pageNumber) {\n            const totalPages = Math.ceil(dashboardFilteredData.length / dashboardItemsPerPage);\n            if (pageNumber >= 1 && pageNumber <= totalPages) {\n                dashboardCurrentPage = pageNumber;\n                renderDashboardTable();\n            }\n        }\n\n        dashboardFirstBtn.addEventListener('click', () => goToDashboardPage(1));\n        dashboardPrevBtn.addEventListener('click', () => goToDashboardPage(dashboardCurrentPage - 1));\n        dashboardNextBtn.addEventListener('click', () => goToDashboardPage(dashboardCurrentPage + 1));\n        dashboardLastBtn.addEventListener('click', () => goToDashboardPage(Math.ceil(dashboardFilteredData.length / dashboardItemsPerPage)));\n\n        function openDashboardModal(id) {\n            const item = dashboardData.find(d => d.id === id);\n            if (!item) return;\n\n            modalTitle.textContent = item.customer_name || 'Lead Details';\n            modalBody.innerHTML = createDashboardModalContent(item);\n            modalOverlay.classList.add('active');\n        }\n\n        function createDashboardModalContent(item) {\n            const isProcessed = item.status === 'processed';\n            const statusBadge = `<span class=\"status-badge status-${item.status}\">${item.status.charAt(0).toUpperCase() + item.status.slice(1)}</span>`;\n\n            let statusSection = `<div class=\"modal-field\"><label>Status</label><div class=\"value\">${statusBadge}</div></div>`;\n\n            if (isProcessed) {\n                if (item.org_id) {\n                    statusSection += `<div class=\"modal-field\"><label>Organization Link</label><div class=\"value\"><a href=\"https://verpakkingenxl.pipedrive.com/organization/${item.org_id}\" class=\"deal-link\" onclick=\"openDealLink('https://verpakkingenxl.pipedrive.com/organization/${item.org_id}', event); return false;\">View Organization ↗</a></div></div>`;\n                }\n                if (item.person_id) {\n                    statusSection += `<div class=\"modal-field\"><label>Person Link</label><div class=\"value\"><a href=\"https://verpakkingenxl.pipedrive.com/person/${item.person_id}\" class=\"deal-link\" onclick=\"openDealLink('https://verpakkingenxl.pipedrive.com/person/${item.person_id}', event); return false;\">View Person ↗</a></div></div>`;\n                }\n                if (item.deal_id) {\n                    statusSection += `<div class=\"modal-field\"><label>Deal Link</label><div class=\"value\"><a href=\"https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}\" class=\"deal-link\" onclick=\"openDealLink('https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}', event); return false;\">View Deal ↗</a></div></div>`;\n                }\n            }\n\n            return `\n                <div class=\"modal-section\">\n                    <h3>Status & Deal Information</h3>\n                    <div class=\"modal-grid\">${statusSection}</div>\n                </div>\n                <div class=\"modal-section\">\n                    <h3>Customer Information</h3>\n                    <div class=\"modal-grid\">\n                        <div class=\"modal-field\"><label>Zendesk ID</label><div class=\"value\">${item.zendesk_id || 'N/A'}</div></div>\n                        <div class=\"modal-field\"><label>Customer Name</label><div class=\"value\">${item.customer_name || 'N/A'}</div></div>\n                        <div class=\"modal-field\"><label>Email</label><div class=\"value\">${item.email || '—'}</div></div>\n                        <div class=\"modal-field\"><label>Phone</label><div class=\"value\">${item.phone || '—'}</div></div>\n                        <div class=\"modal-field\"><label>Address</label><div class=\"value\">${item.address || '—'}</div></div>\n                        <div class=\"modal-field\"><label>Locale</label><div class=\"value\">${item.locale || '—'}</div></div>\n                        <div class=\"modal-field\"><label>Source</label><div class=\"value\">${item.source || 'zendesk'}</div></div>\n                    </div>\n                </div>\n                <div class=\"modal-section\">\n                    <h3>AI Analysis</h3>\n                    <div class=\"modal-grid\">\n                        <div class=\"modal-field\"><label>Decision</label><div class=\"value\">${item.decision || 'N/A'}</div></div>\n                        <div class=\"modal-field\"><label>Lead Score</label><div class=\"value\"><span class=\"lead-score\">${(item.lead_score || 0).toFixed(1)}</span></div></div>\n                        <div class=\"modal-field\"><label>Estimated Shipping Volume</label><div class=\"value\">${item.estimated_shipping_volume || 'N/A'}</div></div>\n                        <div class=\"modal-field\"><label>Likely Logistics Type</label><div class=\"value\">${item.likely_logistics_type || 'N/A'}</div></div>\n                        <div class=\"modal-field full-width\"><label>Reason</label><div class=\"value long-text\">${item.reason || 'N/A'}</div></div>\n                        <div class=\"modal-field full-width\"><label>Compact Instruction</label><div class=\"value long-text\">${item.compact_instruction || 'N/A'}</div></div>\n                    </div>\n                </div>\n                <div class=\"modal-section\">\n                    <h3>Created At</h3>\n                    <div class=\"modal-grid\">\n                        <div class=\"modal-field\"><label>Timestamp</label><div class=\"value\">${new Date(item.createdAt).toLocaleString('nl-NL', { timeZone: 'Europe/Berlin', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' })}</div></div>\n                    </div>\n                </div>\n            `;\n        }\n\n        function closeModal() {\n            modalOverlay.classList.remove('active');\n        }\n\n        function closeModalOnOverlay(event) {\n            if (event.target.id === 'modalOverlay') {\n                closeModal();\n            }\n        }\n\n        function openDealLink(url, event) {\n            event.stopPropagation();\n            const link = document.createElement('a');\n            link.href = url;\n            link.target = '_blank';\n            link.rel = 'noopener noreferrer';\n            document.body.appendChild(link);\n            const clickEvent = new MouseEvent('click', {\n                bubbles: true,\n                cancelable: true,\n                view: window,\n                ctrlKey: true,\n                metaKey: true\n            });\n            link.dispatchEvent(clickEvent);\n            document.body.removeChild(link);\n        }\n\n        async function pushToPipedrive(id, event) {\n            event.stopPropagation();\n            const item = dashboardData.find(d => d.id === id);\n            if (!item) return;\n\n            const button = event.target;\n            button.disabled = true;\n            const originalText = button.textContent;\n            button.textContent = 'Pushing...';\n\n            try {\n                // Prepare payload with call_type\n                const payload = {\n                    ...item,\n                    call_type: 'webhook'\n                };\n\n                const response = await fetch(PUSH_WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(payload)\n                });\n\n                if (!response.ok) {\n                    throw new Error(`HTTP error! status: ${response.status}`);\n                }\n\n                const responseData = await response.json();\n\n                // Update the item in dashboardData with the response data\n                const itemIndex = dashboardData.findIndex(d => d.id === id);\n                if (itemIndex !== -1) {\n                    dashboardData[itemIndex] = {\n                        ...dashboardData[itemIndex],\n                        org_id: responseData.org_id ?? null,\n                        person_id: responseData.person_id ?? null,\n                        deal_id: responseData.deal_id ?? null,\n                        note_id: responseData.note_id ?? null,\n                        status: 'processed'\n                    };\n                }\n\n                // Re-apply filters and re-render the table\n                applyDashboardFiltersAndSort();\n            } catch (e) {\n                alert('Failed to push to Pipedrive: ' + (e.message || 'Unknown error'));\n            } finally {\n                button.disabled = false;\n                button.textContent = originalText;\n            }\n        }\n\n        // Initialize dashboard on load\n        initializeDashboard();\n        updateDashboardScoreDisplay();\n    </script>\n</body>\n\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1328,
        432
      ],
      "id": "66a49917-e84d-4118-8d6e-dfdcf17e42e3",
      "name": "Dashboard Code"
    },
    {
      "parameters": {
        "path": "verpakkingenxl-2.0",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        288,
        432
      ],
      "id": "bc743299-3799-4f70-9f7b-6eff83a84c76",
      "name": "Dashbord Webhook",
      "webhookId": "ccf80ab0-8df5-47f1-99cf-233f5e5375af"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1536,
        432
      ],
      "id": "a68a5c26-92e3-4fff-b188-344ad9caeaf5",
      "name": "Return Dashbord Code",
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        848
      ],
      "id": "af1d1d25-814a-4d6b-9aec-8dbc5d762f55",
      "name": "Return Success",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 1536,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        352
      ],
      "typeVersion": 1,
      "id": "5448b175-ac99-4e1d-ae06-6abf762e1384",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        800
      ],
      "typeVersion": 1,
      "id": "a35a705b-c413-4bd2-aec0-0714e8cb8644",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 1616,
        "width": 1920,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        240
      ],
      "typeVersion": 1,
      "id": "d910f468-d444-459e-83db-8a5f93d51d2c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a7c90c0-83bb-4cc0-9afb-c71190e8c342",
              "leftValue": "={{ $json }}",
              "rightValue": "no",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1024
      ],
      "id": "f9e5b0f1-6f26-44d6-b1c6-c1f839bce846",
      "name": "If No Match"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wdNYwr5ue45v2HP4",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-2.0-zendesk",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/wdNYwr5ue45v2HP4"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "zendesk_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        912,
        1024
      ],
      "id": "aee50159-a0ae-4a89-ad27-af3d0542e409",
      "name": "Check If Already Exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        1008
      ],
      "id": "6db1cbad-4a09-4782-ac44-4022587306a8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-kvs-2.0",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        1536
      ],
      "id": "805cc019-46b3-4766-824c-d2bbec099ccc",
      "name": "KVS Webhook",
      "webhookId": "cb67a89b-cbc9-48b9-bcc9-5dda9d9af52f"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YKWzyvGF8jUIxKwI",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-2.0-KVS",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/YKWzyvGF8jUIxKwI"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ $json.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        704,
        1536
      ],
      "id": "f09946ec-16c6-48ae-aeed-d7458f482d33",
      "name": "Update KVS"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        1008
      ],
      "id": "e574b93f-0ed4-4578-955d-d322d7549ded",
      "name": "Split Raw Data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        1536
      ],
      "id": "f704a7b1-4de3-486e-a30f-45b13b284c18",
      "name": "Split Key:Value"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        1536
      ],
      "id": "c45b3caa-2658-4fd1-bbce-1ae02ddff06c",
      "name": "Return KVS Success",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 944,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        1440
      ],
      "typeVersion": 1,
      "id": "3b7701a5-1cfa-4efe-84b9-764d3ec6582f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ⚙️ KVS Configuration Update Workflow\n\n**Webhook:** `/update-kvs-2.0` (POST)\n\n### Flow\n1. KVS Webhook → Split Key:Value → Update KVS → Return KVS Success\n\n### Purpose\nUpdates configuration from dashboard KVS tab\n\n### KVS Keys\n- system_prompt_base_agent (AI instructions)\n- system_prompt_web_search_agent (web research instructions)\n- pipedrive_push_limit (max auto-pushes)\n- daily_processing_limit (max daily leads)\n\nUpdates only the value field for matching key",
        "height": 444,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        1408
      ],
      "typeVersion": 1,
      "id": "6b94e0b1-7bdd-47ea-ad76-3e1323f5bdf3",
      "name": "KVS Update Workflow Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-raw-data",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        1008
      ],
      "id": "c63552f6-0acb-4211-a948-2d2125db193c",
      "name": "Data Webhook",
      "webhookId": "6a46c712-85c4-430d-ba14-ebf0d18bc0d1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wdNYwr5ue45v2HP4",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-2.0-zendesk",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/wdNYwr5ue45v2HP4"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "is_searched",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        912,
        432
      ],
      "id": "69e719b3-ae9f-4435-833c-d455cd65409d",
      "name": "GET Customer Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        432
      ],
      "id": "88d22ac8-758d-479c-8e3d-b0c62012d07c",
      "name": "Aggregate Customer Data"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wdNYwr5ue45v2HP4",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-2.0-zendesk",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/wdNYwr5ue45v2HP4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "zendesk_id": "={{ $('Loop Over Items').item.json.id }}",
            "customer_name": "={{ $('Loop Over Items').item.json.name }}",
            "email": "={{ $('Loop Over Items').item.json.email }}",
            "phone": "={{ $('Loop Over Items').item.json.phone }}",
            "locale": "={{ $('Loop Over Items').item.json.locale }}",
            "status": "queued",
            "is_searched": false,
            "source": "={{ $('Data Webhook').first().json.body.source }}",
            "address": "={{ $('Loop Over Items').item.json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "zendesk_id",
              "displayName": "zendesk_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "locale",
              "displayName": "locale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estimated_shipping_volume",
              "displayName": "estimated_shipping_volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "likely_logistics_type",
              "displayName": "likely_logistics_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "compact_instruction",
              "displayName": "compact_instruction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "org_id",
              "displayName": "org_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "person_id",
              "displayName": "person_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "deal_id",
              "displayName": "deal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "note_id",
              "displayName": "note_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "is_searched",
              "displayName": "is_searched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1360,
        1008
      ],
      "id": "d09bc728-9ee7-4340-b847-dfb50ff5e01d",
      "name": "Insert Raw Custom Data"
    },
    {
      "parameters": {
        "content": "## 📊 Dashboard Display Workflow\n\n**Webhook:** `/verpakkingenxl-2.0` (GET)\n\n### Flow\n1. Dashboard Webhook → Get KVS → Aggregate KVS\n2. GET Custom Data (is_searched = true) → Aggregate Custom Data\n3. Dashboard Code (inject data) → Return Dashboard Code\n\n### Features\n**Three Tabs:**\n- 📊 Dashboard - View/filter leads with pagination\n- ⚙️ KVS Config - Edit prompts and limits\n- 📥 Import - Upload JSONL or Excel files\n\n**Filters:**\nSearch, status, shipping volume, logistics type, lead score range (0-10)\n\n**Display:**\nCustomer name, email, phone, shipping vol, logistics, lead score, status, created date, push button\n\nData injected via window.kvsDataFromN8n and window.zendeskDataFromN8n",
        "height": 540,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        80
      ],
      "typeVersion": 1,
      "id": "865f86b5-58b1-4cfd-b75a-1f5893404365",
      "name": "Dashboard Workflow Note"
    },
    {
      "parameters": {
        "content": "## 📥 Raw Data Import Workflow\n\n**Webhook:** `/save-raw-data` (POST)\n\n### Flow\n1. Data Import Webhook → Split Raw Data → Loop Over Items\n2. Check If Already Exists (by id for ERP, zendesk_id for Zendesk)\n3. If No Match → Insert Raw Data\n4. Return Success\n\n### Purpose\nSaves imported data from dashboard to data table.\nSupports both Zendesk JSONL and Custom ERP Excel files.\n\n### Data Sources\n**Zendesk (source: 'zendesk'):**\n- id, name, email, phone, locale\n- address: '-'\n- Filters out personal emails (gmail, hotmail, yahoo, etc.)\n\n**ERP Excel (source: 'erp'):**\n- id (Klant code), name (Klant)\n- email: '-', phone: '-', locale: '-'\n- address: constructed from Adresregels, Postcode, Plaats, Provincie, Land\n\n### Default Fields on Insert\n- All fields from import + source field\n- status: \"queued\" (Zendesk only)\n- is_searched: false (Zendesk only)\n\nPrevents duplicates via ID check",
        "height": 752,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        640
      ],
      "typeVersion": 1,
      "id": "cb0600b9-d34b-4891-bb14-0ea90bcb300f",
      "name": "Raw Data Import Workflow Note"
    }
  ],
  "connections": {
    "Get KVS": {
      "main": [
        [
          {
            "node": "Aggregate KVS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate KVS": {
      "main": [
        [
          {
            "node": "GET Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Code": {
      "main": [
        [
          {
            "node": "Return Dashbord Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashbord Webhook": {
      "main": [
        [
          {
            "node": "Get KVS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If No Match": {
      "main": [
        [
          {
            "node": "Insert Raw Custom Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Already Exists": {
      "main": [
        [
          {
            "node": "If No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Already Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KVS Webhook": {
      "main": [
        [
          {
            "node": "Split Key:Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update KVS": {
      "main": [
        [
          {
            "node": "Return KVS Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Raw Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Key:Value": {
      "main": [
        [
          {
            "node": "Update KVS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Webhook": {
      "main": [
        [
          {
            "node": "Split Raw Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Customer Data": {
      "main": [
        [
          {
            "node": "Aggregate Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Customer Data": {
      "main": [
        [
          {
            "node": "Dashboard Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Raw Custom Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76e0ac33b50e0db0072da78a41e059e49f1a758458c2d74dcf85414a2008ed31"
  }
}