workflows/Notify-On-Error-2.0.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e03eb5be-5525-430d-95b6-830bb48ab137",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "fromEmail": "your-from-email-domain.com",
        "toEmail": "your-to-email-domain.com",
        "subject": "=n8n Workflow Failed: {{ $json.workflow_name }}",
        "html": "={{ $json.error_message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "75dbca3a-c34f-4284-9c22-06a9248f69f0",
      "name": "Notify User",
      "webhookId": "158c968b-4b14-44bc-b63a-c92ce0ebf4b8",
      "credentials": {
        "smtp": {
          "id": "NwySBGnfSAkHvzji",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -80
      ],
      "typeVersion": 1,
      "id": "36a0d076-637c-4d1d-9e84-36c3fcab93be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4c22614-c423-4c72-b3ce-4f81a464db98",
              "name": "=workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "04482179-110a-451e-8aa0-269a9d580a00",
              "name": "error_message",
              "value": "=<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>verpakkingenxl Workflow Failure</title>\n  <style>\n    *, *::before, *::after {\n      box-sizing: border-box !important;\n    }\n\n    body {\n      font-family: system-ui, -apple-system, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial;\n      background: #f6f8fa;\n      color: #0f1724;\n      margin: 0;\n      padding: 16px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      min-height: 100vh;\n      width: 100%;\n      overflow-x: hidden;\n    }\n\n    .card {\n      width: 100% !important;\n      max-width: 360px; /* smaller width for mobile */\n      background: #fff;\n      border-radius: 12px;\n      box-shadow: 0 6px 24px rgba(15,23,36,0.08);\n      padding: 20px;\n      border: 1px solid #e6eef6;\n    }\n\n    h1 {\n      margin: 0 0 12px 0;\n      font-size: 20px;\n      color: #b91c1c;\n      display: flex;\n      align-items: center;\n      gap: 10px;\n      word-break: break-word;\n    }\n\n    p { \n      margin: 8px 0; \n      line-height: 1.5; \n      color: #0f1724; \n    }\n\n    .meta {\n      background: #f3f7fb;\n      padding: 12px;\n      border-radius: 8px;\n      font-family: ui-monospace, Menlo, Monaco, \"Roboto Mono\", monospace;\n      color: #0b1220;\n      overflow-wrap: break-word;\n      word-break: break-word;\n    }\n\n    .error {\n      margin-top: 12px;\n      padding: 12px;\n      border-radius: 8px;\n      background: #fff1f0;\n      border: 1px solid #ffd6d3;\n      color: #7a1720;\n      overflow-wrap: break-word;\n      word-break: break-word;\n    }\n\n    a.link {\n      color: #0b69ff;\n      text-decoration: none;\n      font-weight: 600;\n      word-break: break-word;\n    }\n\n    .foot {\n      margin-top: 16px;\n      font-size: 13px;\n      color: #374151;\n    }\n\n    .tag {\n      display: inline-block;\n      padding: 4px 10px;\n      background: #e8f0ff;\n      color: #0b3c92;\n      border-radius: 6px;\n      font-size: 12px;\n      margin-bottom: 12px;\n      font-weight: 600;\n      white-space: nowrap;\n    }\n\n    /* EXTRA MOBILE FIX */\n    @media only screen and (max-width: 480px) {\n      body {\n        padding: 12px !important;\n      }\n      .card {\n        max-width: 100% !important;\n        padding: 16px !important;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\" role=\"alert\" aria-live=\"polite\">\n\n    <span class=\"tag\">verpakkingenxl-2.0 – Lead Processing System</span>\n\n    <h1>🚨 Workflow Failure</h1>\n\n    <div class=\"meta\">\n      The workflow <code>\"{{ $json[\"workflow\"][\"name\"] }}\"</code> failed to run! \n      <a class=\"link\" href=\"{{ $json.execution.url }}\" target=\"_blank\" rel=\"noopener noreferrer\">see the execution</a>\n    </div>\n\n    <p style=\"margin-top:16px;\"><strong>Error message from node:</strong></p>\n    <div class=\"error\">\n      <code>{{ $json.execution.lastNodeExecuted }} : {{ $json.execution.error.message }}</code>\n    </div>\n\n    <p class=\"foot\">Be sure to check and fix this error to get your workflow operational again.</p>\n  </div>\n</body>\n</html>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f5109662-04d2-41bb-b231-7d48f6a7ec03",
      "name": "Edit Error Message"
    },
    {
      "parameters": {
        "content": "## 🚨 Error Notification Workflow\n\n**Purpose:** Automatically sends email alerts when any workflow fails\n\n**How it works:**\n1. **Error Trigger** - Catches failures from any workflow\n2. **Edit Error Message** - Formats error details into HTML email\n3. **Notify User** - Sends styled email notification to admin\n\n**Email includes:**\n- Workflow name\n- Error message\n- Failed node name\n- Link to execution details\n\n**Note:** This is a global error handler for the verpakkingenxl-2.0 lead processing system",
        "height": 448,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -160
      ],
      "typeVersion": 1,
      "id": "2dd5d0bb-0977-4fe2-9d31-d6de3751e4d5",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Error Message": {
      "main": [
        [
          {
            "node": "Notify User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76e0ac33b50e0db0072da78a41e059e49f1a758458c2d74dcf85414a2008ed31"
  }
}