workflows/Notify-On-Error-2.0.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e03eb5be-5525-430d-95b6-830bb48ab137",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "fromEmail": "info@elyptra.com",
        "toEmail": "anasfarooq8888@gmail.com",
        "subject": "=n8n Workflow Failed: {{ $json.workflow_name }}",
        "html": "={{ $json.error_message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "75dbca3a-c34f-4284-9c22-06a9248f69f0",
      "name": "Notify User",
      "webhookId": "158c968b-4b14-44bc-b63a-c92ce0ebf4b8",
      "credentials": {
        "smtp": {
          "id": "NwySBGnfSAkHvzji",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -80
      ],
      "typeVersion": 1,
      "id": "36a0d076-637c-4d1d-9e84-36c3fcab93be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4c22614-c423-4c72-b3ce-4f81a464db98",
              "name": "=workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "04482179-110a-451e-8aa0-269a9d580a00",
              "name": "error_message",
              "value": "=<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f6f8fa; padding:20px 0;\">\n  <tr>\n    <td align=\"center\">\n\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:480px; background:#ffffff; padding:20px; border-radius:8px; border:1px solid #e6e6e6;\">\n\n        <tr>\n          <td style=\"padding-bottom:10px;\">\n            <span style=\"display:inline-block; background:#e8f0ff; color:#0b3c92; padding:4px 10px; border-radius:6px; font-size:12px; font-weight:600;\">\n              verpakkingenxl-2.0 – Lead Processing System\n            </span>\n          </td>\n        </tr>\n\n        <tr>\n          <td>\n            <h2 style=\"margin:0 0 10px 0;\">🚨 Workflow Failure</h2>\n            <p style=\"margin:0 0 20px 0;\">Your workflow encountered an error and did not complete successfully.</p>\n          </td>\n        </tr>\n\n        <tr>\n          <td>\n            <table style=\"border-collapse: collapse; width: 100%; margin: 20px 0;\">\n\n              <tr style=\"background-color: #f8f9fa;\">\n                <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Workflow Name:</td>\n                <td style=\"padding: 12px; border: 1px solid #dee2e6;\">{{ $json[\"workflow\"][\"name\"] }}</td>\n              </tr>\n\n              <tr>\n                <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Last Executed Node:</td>\n                <td style=\"padding: 12px; border: 1px solid #dee2e6;\">{{ $json.execution.lastNodeExecuted }}</td>\n              </tr>\n\n              <tr style=\"background-color: #f8f9fa;\">\n                <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Error Message:</td>\n                <td style=\"padding: 12px; border: 1px solid #dee2e6; font-family: monospace; font-size: 12px;\">\n                  {{ $json.execution.error.message }}\n                </td>\n              </tr>\n\n              <tr>\n                <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Execution URL:</td>\n                <td style=\"padding: 12px; border: 1px solid #dee2e6;\">\n                  <a href=\"{{ $json.execution.url }}\" style=\"color:#0b69ff; font-weight:bold;\" target=\"_blank\">View Execution</a>\n                </td>\n              </tr>\n\n            </table>\n          </td>\n        </tr>\n\n        <tr>\n          <td>\n            <h3>📋 What should you do?</h3>\n            <ol>\n              <li>Review the failed execution in n8n</li>\n              <li>Identify and fix the failing node</li>\n              <li>Re-run the workflow once the issue is resolved</li>\n            </ol>\n          </td>\n        </tr>\n\n      </table>\n\n    </td>\n  </tr>\n</table>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f5109662-04d2-41bb-b231-7d48f6a7ec03",
      "name": "Edit Error Message"
    },
    {
      "parameters": {
        "content": "## 🚨 Error Notification Workflow\n\n**Purpose:** Automatically sends email alerts when any workflow fails\n\n**How it works:**\n1. **Error Trigger** - Catches failures from any workflow\n2. **Edit Error Message** - Formats error details into HTML email\n3. **Notify User** - Sends styled email notification to admin\n\n**Email includes:**\n- Workflow name\n- Error message\n- Failed node name\n- Link to execution details\n\n**Note:** This is a global error handler for the verpakkingenxl-2.0 lead processing system",
        "height": 432,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -160
      ],
      "typeVersion": 1,
      "id": "2dd5d0bb-0977-4fe2-9d31-d6de3751e4d5",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Error Message": {
      "main": [
        [
          {
            "node": "Notify User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76e0ac33b50e0db0072da78a41e059e49f1a758458c2d74dcf85414a2008ed31"
  }
}